body {
    background-color: rgba(0, 0, 0, 0.781) !important;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    border-top: 1px solid rgb(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(226, 226, 226, 0.466);
}

.bg-success, .bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
    font-size: 25px;
}

.imgtrophy {
    width: 290px;
    margin-left: 79px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}